@import '../base/variables';
@mixin commonBox() {
  padding: 0 0.8rem !important;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 0.5rem;
}

.box {
  @include commonBox();
  margin: 1rem 0 !important;
}

.right_box {
  @include commonBox();
  margin: 1rem 0 1rem 1rem;
  padding: 0.5rem !important;
}

.page {
  padding: 0 0.5rem;
}

.card_title {
  white-space: pre-line;
  text-align: center;
}

.blog_cover {
  @include fixIOSBorderRadius();
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 0;
  padding-bottom: 60%;
  img {
    width: 100%;
    transition-duration: 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

@media only screen and (max-width: 768px) {
  .box {
    border-radius: 0.25rem;
    margin: 0.5rem 0 !important;
  }
  .right_box {
    border-radius: 0.25rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
  }
}