.container {
  box-shadow: 0 2px 10px #eee;
  background-color: #fff;
}

.content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  height: 4rem;
  flex-flow: nowrap;
  overflow: hidden;
}

.unordered_list {
  position: absolute;
  z-index: 1;
  right: 1rem;
  font-size: 1.2rem;
}

.vertical_menu {
  width: 10rem;
}

.left {
  height: 2rem;
  padding-left: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logo_wrapper {
  display: inline-block;
  height: 2rem;
  overflow: hidden;
  vertical-align: top;
}

.logo {
  display: inline-block;
  height: 2rem;
  line-height: 2.5rem;
  cursor: pointer;
  vertical-align: top;
}

.slogan {
  display: inline-block;
  font-size: 0.75rem;
  color: #999;
  margin-left: 1rem;
  line-height: 2.5rem;
}

.right {
  display: flex !important;
  justify-content: flex-end;
}

.menu {
  border-bottom: none!important;
}

@media only screen and (max-width: 374px) {
  .slogan {
    display: none;
  }
}
