@import './variables';
.unordered_popover {
  .ant-popover-inner-content {
    padding: 0 !important;
  }
}

.list-header-radio-group {
  .ant-radio-button-wrapper {
    padding-left: 0;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    &::before {
      display: none;
    }
  }
}

.common-list {
  .ant-list-header {
    border-bottom: none;
    .ant-tabs {
      .ant-tabs-nav {
        margin-bottom: 0;
      }
    }
  }
}
.common-card {
  .ant-card-cover {
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
  }
}
// list item 样式覆盖
.blog-list {
  .ant-list-item-main {
    min-width: 65%;
  }
  .ant-list-item-extra {
    min-width: calc(35% - 40px);
    width: 100%;
    overflow: hidden;
  }
  .ant-list-item-meta {
    .ant-list-item-meta-content {
      .ant-list-item-meta-title {
        display: flex;
        align-items: center;
      }
    }
  }
}

.column-list {
  .ant-list-item {
    flex-flow: row-reverse;
    .ant-list-item-extra {
      max-width: 7.5rem;
      min-width: 4rem;
      margin: 0 1rem 0 0 !important;
      flex: 0 0 20%;
    }
  }
}

@media only screen and (max-width: 576px) {
  .column-list {
    .ant-list-item-main {
      min-width: auto;
      .ant-list-item-meta-title {
        font-size: 0.875rem!important;
        margin-bottom: 0.25rem;
        @include ellipsis();
      }
      .ant-list-item-meta-description {
        @include multi-line-ellipsis();
        font-size: 0.75rem!important;
      }
    }
  }
}