.unordered_popover {
  .ant-popover-inner-content {
    padding: 0 !important;
  }
}

.list-header-radio-group {
  .ant-radio-button-wrapper {
    padding-left: 0;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    &::before {
      display: none;
    }
  }
}

.common-list {
  .ant-list-header {
    border-bottom: none;
    .ant-tabs {
      .ant-tabs-nav {
        margin-bottom: 0;
      }
    }
  }
}
.common-card {
  .ant-card-cover {
    height: 0;
    padding-bottom: 50%;
    overflow: hidden;
  }
}
// list item 样式覆盖
.ant-list-item-main {
  min-width: 65%;
}
.ant-list-item-extra {
  overflow: hidden;
}
.ant-list-item-meta {
  .ant-list-item-meta-content {
    .ant-list-item-meta-title {
      display: flex;
      align-items: center;
    }
  }
}